@import "../variables";

.Table {
  position: relative;
  overflow: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  > tbody {
    font-family: monospace;
    font-size: 12px;
  }
  th,
  td {
    border: $border;
    padding: 5px;
    min-width: 200px;
    flex: 1 1;
    overflow: hidden;
    padding: 8px 12px;
  }
  th {
    font-weight: 700;
    background-color: $color-background;
    position: sticky;
    top: 55px;
    z-index: 100;
    border: $border;
    text-align: left;
    cursor: pointer;
    padding: 0;
    &:hover {
      color: $color-hover;
    }
    > div {
      padding: 8px 12px;
      border-bottom: $border;
    }
  }
  .rightAlign {
    text-align: right;
  }
  > thead > tr {
    background-color: $color-background;
    z-index: 100;
  }
}
.showMore {
  margin: 20px;
  text-align: center;
  > span {
    display: block;
    margin: 10px 0;
  }
}
