@import "./variables";

.App {
  position: relative;
  width: 100%;
  height: 100%;
  > .FileList {
    position: absolute;
    height: 100%;
    width: 180px;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  > .error,
  > .DataSpace {
    display: block;
    position: absolute;
    height: 100%;
    width: calc(100% - 210px);
    top: 0;
    left: 210px;
    overflow: auto;
  }
  > .error {
    padding: 50px;
    text-align: center;
    color: $red-color;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 9px;
  width: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
