
$almostwhite-color: #f0f0f0;
$almostblack-color: #0d0d0d;
$silver-color: silver;
$grey-color: grey;
$red-color: #b71c1c;


$color-background: $almostwhite-color;
$color-text: $almostblack-color;
$color-text-minor: $grey-color;
$color-borders: $grey-color;


$color-hover: #00838f; //#00565e;
$color-selection: #00838f;

$border: solid 1px $color-borders;

$text-font-size: 16px;
